---
import { Image } from "astro:assets";
import type { BasePost } from "../interface.ts";
import { convDate } from "../lib/date";
import CategoryLabel from "./CategoryLabel.tsx";

import "../styles/button/material.css";

type Props = {
  post: BasePost;
  compact?: boolean;
};

const { compact, post } = Astro.props;

// const coverImage = require(`..${post.frontmatter.cover_image}`);
// const authorImage = `..${post.frontmatter.author_image}`;
import authorImage from "../images/authors/hidemaru.png";
import coverImage from "../images/posts/img14.png";

const date = convDate(post.frontmatter.date);
---

<div class="mt-2 w-full rounded-lg bg-white px-10 py-6 shadow-md">
  {
    !compact && (
      <Image
        src={coverImage}
        alt="Cover Image"
        width={600}
        height={420}
        class="mb-4 rounded"
      />
    )
  }
  <div class="flex items-center justify-between">
    <span class="text-gray-600">{date}</span>
    <CategoryLabel category={post.frontmatter.category} />
  </div>

  <div class="mt-2">
    <a
      href={`/blog/${post.slug}`}
      class="text-2xl font-bold text-gray-700 hover:text-gray-700 hover:underline"
    >
      {post.frontmatter.title}
    </a>
    <p class="mt-2 text-gray-600">{post.frontmatter.excerpt}</p>
  </div>

  {
    compact && (
      <div class="mt-6 flex items-center justify-between">
        <div class="flex items-center">
          <Image
            src={authorImage}
            alt="Author Image"
            width={40}
            height={40}
            class="mx-4 hidden rounded-full object-cover sm:block"
          />
          <h3 class="font-bold text-gray-700">{post.frontmatter.author}</h3>
        </div>
      </div>
    )
  }
  <a href={`/blog/${post.slug}`} class="top-screen sticky bottom-0">
    <div class="material-button">
      <p class="material-button-text">Read More</p>
      <div class="material-button-second">
        <p class="material-button-second-text">Go!!</p>
      </div>
    </div>
  </a>
</div>
